body {
  display: flex;
  align-items: center;
  height: 200vh;
  background-image: repeating-linear-gradient(
      0deg,
      #337,
      #337 60px,
      #448 60px,
      #448 120px
  );
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  position: fixed;
  top: 0;
  color: white;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}